docs/portal-latest/static/exports/swagger-petstore---openapi-3.0-wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="https://petstore3.swagger.io/api/v3/schemas" xmlns:wsdl="https://petstore3.swagger.io/api/v3/wsdl" targetNamespace="https://petstore3.swagger.io/api/v3/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="https://petstore3.swagger.io/api/v3/schemas" targetNamespace="https://petstore3.swagger.io/api/v3/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PUT_updatePet_InputMessage" type="schemas:PUT_updatePet_InputMessage" />
      <xs:element name="PUT_updatePet_OutputMessage" type="schemas:PUT_updatePet_OutputMessage" />
      <xs:element name="PUT_updatePet_400" type="schemas:PUT_updatePet_400" />
      <xs:element name="PUT_updatePet_404" type="schemas:PUT_updatePet_404" />
      <xs:element name="PUT_updatePet_405" type="schemas:PUT_updatePet_405" />
      <xs:element name="POST_addPet_InputMessage" type="schemas:POST_addPet_InputMessage" />
      <xs:element name="POST_addPet_OutputMessage" type="schemas:POST_addPet_OutputMessage" />
      <xs:element name="POST_addPet_405" type="schemas:POST_addPet_405" />
      <xs:element name="GET_findPetsByStatus_InputMessage" type="schemas:GET_findPetsByStatus_InputMessage" />
      <xs:element name="GET_findPetsByStatus_OutputMessage" type="schemas:GET_findPetsByStatus_OutputMessage" />
      <xs:element name="GET_findPetsByStatus_400" type="schemas:GET_findPetsByStatus_400" />
      <xs:element name="GET_findPetsByTags_InputMessage" type="schemas:GET_findPetsByTags_InputMessage" />
      <xs:element name="GET_findPetsByTags_OutputMessage" type="schemas:GET_findPetsByTags_OutputMessage" />
      <xs:element name="GET_findPetsByTags_400" type="schemas:GET_findPetsByTags_400" />
      <xs:element name="GET_getPetById_InputMessage" type="schemas:GET_getPetById_InputMessage" />
      <xs:element name="GET_getPetById_OutputMessage" type="schemas:GET_getPetById_OutputMessage" />
      <xs:element name="GET_getPetById_400" type="schemas:GET_getPetById_400" />
      <xs:element name="GET_getPetById_404" type="schemas:GET_getPetById_404" />
      <xs:element name="POST_updatePetWithForm_InputMessage" type="schemas:POST_updatePetWithForm_InputMessage" />
      <xs:element name="POST_updatePetWithForm_405" type="schemas:POST_updatePetWithForm_405" />
      <xs:element name="DELETE_deletePet_InputMessage" type="schemas:DELETE_deletePet_InputMessage" />
      <xs:element name="DELETE_deletePet_400" type="schemas:DELETE_deletePet_400" />
      <xs:element name="POST_uploadFile_InputMessage" type="schemas:POST_uploadFile_InputMessage" />
      <xs:element name="POST_uploadFile_OutputMessage" type="schemas:POST_uploadFile_OutputMessage" />
      <xs:element name="GET_getInventory_InputMessage" type="schemas:GET_getInventory_InputMessage" />
      <xs:element name="GET_getInventory_OutputMessage" type="schemas:GET_getInventory_OutputMessage" />
      <xs:element name="POST_placeOrder_InputMessage" type="schemas:POST_placeOrder_InputMessage" />
      <xs:element name="POST_placeOrder_OutputMessage" type="schemas:POST_placeOrder_OutputMessage" />
      <xs:element name="POST_placeOrder_405" type="schemas:POST_placeOrder_405" />
      <xs:element name="GET_getOrderById_InputMessage" type="schemas:GET_getOrderById_InputMessage" />
      <xs:element name="GET_getOrderById_OutputMessage" type="schemas:GET_getOrderById_OutputMessage" />
      <xs:element name="GET_getOrderById_400" type="schemas:GET_getOrderById_400" />
      <xs:element name="GET_getOrderById_404" type="schemas:GET_getOrderById_404" />
      <xs:element name="DELETE_deleteOrder_InputMessage" type="schemas:DELETE_deleteOrder_InputMessage" />
      <xs:element name="DELETE_deleteOrder_400" type="schemas:DELETE_deleteOrder_400" />
      <xs:element name="DELETE_deleteOrder_404" type="schemas:DELETE_deleteOrder_404" />
      <xs:element name="POST_createUser_InputMessage" type="schemas:POST_createUser_InputMessage" />
      <xs:element name="POST_createUser_OutputMessage" type="schemas:POST_createUser_OutputMessage" />
      <xs:element name="POST_createUsersWithListInput_InputMessage" type="schemas:POST_createUsersWithListInput_InputMessage" />
      <xs:element name="POST_createUsersWithListInput_OutputMessage" type="schemas:POST_createUsersWithListInput_OutputMessage" />
      <xs:element name="POST_createUsersWithListInput_0" type="schemas:POST_createUsersWithListInput_0" />
      <xs:element name="GET_loginUser_InputMessage" type="schemas:GET_loginUser_InputMessage" />
      <xs:element name="GET_loginUser_OutputMessage" type="schemas:GET_loginUser_OutputMessage" />
      <xs:element name="GET_loginUser_400" type="schemas:GET_loginUser_400" />
      <xs:element name="GET_logoutUser_InputMessage" type="schemas:GET_logoutUser_InputMessage" />
      <xs:element name="GET_logoutUser_OutputMessage" type="schemas:GET_logoutUser_OutputMessage" />
      <xs:element name="GET_getUserByName_InputMessage" type="schemas:GET_getUserByName_InputMessage" />
      <xs:element name="GET_getUserByName_OutputMessage" type="schemas:GET_getUserByName_OutputMessage" />
      <xs:element name="GET_getUserByName_400" type="schemas:GET_getUserByName_400" />
      <xs:element name="GET_getUserByName_404" type="schemas:GET_getUserByName_404" />
      <xs:element name="PUT_updateUser_InputMessage" type="schemas:PUT_updateUser_InputMessage" />
      <xs:element name="PUT_updateUser_OutputMessage" type="schemas:PUT_updateUser_OutputMessage" />
      <xs:element name="DELETE_deleteUser_InputMessage" type="schemas:DELETE_deleteUser_InputMessage" />
      <xs:element name="DELETE_deleteUser_400" type="schemas:DELETE_deleteUser_400" />
      <xs:element name="DELETE_deleteUser_404" type="schemas:DELETE_deleteUser_404" />
      <xs:complexType name="Order">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="petId" type="xs:long" />
          <xs:element minOccurs="0" name="quantity" type="xs:integer" />
          <xs:element minOccurs="0" name="shipDate" type="xs:dateTime" />
          <xs:element minOccurs="0" default="approved" name="orderStatus" type="schemas:OrderStatus">
            <xs:annotation>
              <xs:documentation>Order Status</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="complete" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Customer">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="address" type="schemas:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element minOccurs="0" name="street" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="zip" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Category">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="User">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="userStatus" type="xs:integer">
            <xs:annotation>
              <xs:documentation>User Status</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Pet">
        <xs:sequence>
          <xs:element minOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="photoUrls" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="schemas:Tag" />
          <xs:element minOccurs="0" name="petStatus" type="schemas:PetStatus">
            <xs:annotation>
              <xs:documentation>pet status in the store</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PetImage">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:integer" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="OrderStatus">
        <xs:annotation>
          <xs:documentation>Order Status</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="placed" />
          <xs:enumeration value="approved" />
          <xs:enumeration value="delivered" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="PetStatus">
        <xs:annotation>
          <xs:documentation>pet status in the store</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="available" />
          <xs:enumeration value="pending" />
          <xs:enumeration value="sold" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="status">
        <xs:restriction base="xs:string">
          <xs:enumeration value="available" />
          <xs:enumeration value="pending" />
          <xs:enumeration value="sold" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="PUT_updatePet_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" fixed="application/x-www-form-urlencoded" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="photoUrls" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="schemas:Tag" />
          <xs:element minOccurs="0" name="petStatus" type="schemas:PetStatus">
            <xs:annotation>
              <xs:documentation>pet status in the store</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_updatePet_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Pet">
            <xs:annotation>
              <xs:documentation>Successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_updatePet_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid ID supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_updatePet_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404">
            <xs:annotation>
              <xs:documentation>Pet not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_updatePet_405">
        <xs:sequence>
          <xs:element minOccurs="1" name="response405">
            <xs:annotation>
              <xs:documentation>Validation exception</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_addPet_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" fixed="application/x-www-form-urlencoded" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="photoUrls" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="category" type="schemas:Category" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="schemas:Tag" />
          <xs:element minOccurs="0" name="petStatus" type="schemas:PetStatus">
            <xs:annotation>
              <xs:documentation>pet status in the store</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_addPet_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Pet">
            <xs:annotation>
              <xs:documentation>Successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_addPet_405">
        <xs:sequence>
          <xs:element minOccurs="1" name="response405">
            <xs:annotation>
              <xs:documentation>Invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_findPetsByStatus_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="0" default="available" name="status" type="schemas:status">
            <xs:annotation>
              <xs:documentation>Status values that need to be considered for filter</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_findPetsByStatus_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:Pet">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_findPetsByStatus_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid status value</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_findPetsByTags_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="tags" type="xs:string">
            <xs:annotation>
              <xs:documentation>Tags to filter by</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_findPetsByTags_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="response200" type="schemas:Pet">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_findPetsByTags_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid tag value</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getPetById_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="petId" type="xs:long">
            <xs:annotation>
              <xs:documentation>ID of pet to return</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getPetById_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Pet">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getPetById_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid ID supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getPetById_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404">
            <xs:annotation>
              <xs:documentation>Pet not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_updatePetWithForm_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="petId" type="xs:long">
            <xs:annotation>
              <xs:documentation>ID of pet that needs to be updated</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>Name of pet that needs to be updated</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="status" type="xs:string">
            <xs:annotation>
              <xs:documentation>Status of pet that needs to be updated</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_updatePetWithForm_405">
        <xs:sequence>
          <xs:element minOccurs="1" name="response405">
            <xs:annotation>
              <xs:documentation>Invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deletePet_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="petId" type="xs:long">
            <xs:annotation>
              <xs:documentation>Pet id to delete</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="api_key" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deletePet_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid pet value</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_uploadFile_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="petId" type="xs:long">
            <xs:annotation>
              <xs:documentation>ID of pet to update</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="application/octet-stream" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" name="additionalMetadata" type="xs:string">
            <xs:annotation>
              <xs:documentation>Additional Metadata</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="body" type="xs:hexBinary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_uploadFile_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:PetImage">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getInventory_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getInventory_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="xs:integer">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" fixed="application/x-www-form-urlencoded" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="petId" type="xs:long" />
          <xs:element minOccurs="0" name="quantity" type="xs:integer" />
          <xs:element minOccurs="0" name="shipDate" type="xs:dateTime" />
          <xs:element minOccurs="0" default="approved" name="orderStatus" type="schemas:OrderStatus">
            <xs:annotation>
              <xs:documentation>Order Status</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="complete" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Order">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_placeOrder_405">
        <xs:sequence>
          <xs:element minOccurs="1" name="response405">
            <xs:annotation>
              <xs:documentation>Invalid input</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderById_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="orderId" type="xs:long">
            <xs:annotation>
              <xs:documentation>ID of order that needs to be fetched</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderById_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:Order">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderById_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid ID supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getOrderById_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404">
            <xs:annotation>
              <xs:documentation>Order not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deleteOrder_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="orderId" type="xs:long">
            <xs:annotation>
              <xs:documentation>ID of the order that needs to be deleted</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deleteOrder_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid ID supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deleteOrder_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404">
            <xs:annotation>
              <xs:documentation>Order not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_createUser_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" fixed="application/x-www-form-urlencoded" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="userStatus" type="xs:integer">
            <xs:annotation>
              <xs:documentation>User Status</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_createUser_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:User">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_createUsersWithListInput_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" fixed="application/json" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="body" type="schemas:User" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_createUsersWithListInput_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:User">
            <xs:annotation>
              <xs:documentation>Successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="POST_createUsersWithListInput_0">
        <xs:sequence>
          <xs:element minOccurs="1" name="response0">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_loginUser_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string">
            <xs:annotation>
              <xs:documentation>The user name for login</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="password" type="xs:string">
            <xs:annotation>
              <xs:documentation>The password for login in clear text</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_loginUser_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="xs:string">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_loginUser_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid username/password supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_logoutUser_InputMessage">
        <xs:sequence>
          <xs:any />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_logoutUser_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getUserByName_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>The name that needs to be fetched. Use user1 for testing.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getUserByName_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200" type="schemas:User">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getUserByName_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid username supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GET_getUserByName_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404">
            <xs:annotation>
              <xs:documentation>User not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_updateUser_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>name that need to be deleted</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" fixed="application/x-www-form-urlencoded" name="Content-Type" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="userStatus" type="xs:integer">
            <xs:annotation>
              <xs:documentation>User Status</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PUT_updateUser_OutputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="response200">
            <xs:annotation>
              <xs:documentation>successful operation</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deleteUser_InputMessage">
        <xs:sequence>
          <xs:element minOccurs="1" name="name" type="xs:string">
            <xs:annotation>
              <xs:documentation>The name that needs to be deleted</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deleteUser_400">
        <xs:sequence>
          <xs:element minOccurs="1" name="response400">
            <xs:annotation>
              <xs:documentation>Invalid username supplied</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DELETE_deleteUser_404">
        <xs:sequence>
          <xs:element minOccurs="1" name="response404">
            <xs:annotation>
              <xs:documentation>User not found</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="PUT_updatePet_InputMessage">
    <part name="PUT_updatePet_InputMessage" element="schemas:PUT_updatePet_InputMessage" />
  </message>
  <message name="PUT_updatePet_OutputMessage">
    <part name="PUT_updatePet_OutputMessage" element="schemas:PUT_updatePet_OutputMessage" />
  </message>
  <message name="PUT_updatePet_400">
    <part name="PUT_updatePet_400" element="schemas:PUT_updatePet_400" />
  </message>
  <message name="PUT_updatePet_404">
    <part name="PUT_updatePet_404" element="schemas:PUT_updatePet_404" />
  </message>
  <message name="PUT_updatePet_405">
    <part name="PUT_updatePet_405" element="schemas:PUT_updatePet_405" />
  </message>
  <message name="POST_addPet_InputMessage">
    <part name="POST_addPet_InputMessage" element="schemas:POST_addPet_InputMessage" />
  </message>
  <message name="POST_addPet_OutputMessage">
    <part name="POST_addPet_OutputMessage" element="schemas:POST_addPet_OutputMessage" />
  </message>
  <message name="POST_addPet_405">
    <part name="POST_addPet_405" element="schemas:POST_addPet_405" />
  </message>
  <message name="GET_findPetsByStatus_InputMessage">
    <part name="GET_findPetsByStatus_InputMessage" element="schemas:GET_findPetsByStatus_InputMessage" />
  </message>
  <message name="GET_findPetsByStatus_OutputMessage">
    <part name="GET_findPetsByStatus_OutputMessage" element="schemas:GET_findPetsByStatus_OutputMessage" />
  </message>
  <message name="GET_findPetsByStatus_400">
    <part name="GET_findPetsByStatus_400" element="schemas:GET_findPetsByStatus_400" />
  </message>
  <message name="GET_findPetsByTags_InputMessage">
    <part name="GET_findPetsByTags_InputMessage" element="schemas:GET_findPetsByTags_InputMessage" />
  </message>
  <message name="GET_findPetsByTags_OutputMessage">
    <part name="GET_findPetsByTags_OutputMessage" element="schemas:GET_findPetsByTags_OutputMessage" />
  </message>
  <message name="GET_findPetsByTags_400">
    <part name="GET_findPetsByTags_400" element="schemas:GET_findPetsByTags_400" />
  </message>
  <message name="GET_getPetById_InputMessage">
    <part name="GET_getPetById_InputMessage" element="schemas:GET_getPetById_InputMessage" />
  </message>
  <message name="GET_getPetById_OutputMessage">
    <part name="GET_getPetById_OutputMessage" element="schemas:GET_getPetById_OutputMessage" />
  </message>
  <message name="GET_getPetById_400">
    <part name="GET_getPetById_400" element="schemas:GET_getPetById_400" />
  </message>
  <message name="GET_getPetById_404">
    <part name="GET_getPetById_404" element="schemas:GET_getPetById_404" />
  </message>
  <message name="POST_updatePetWithForm_InputMessage">
    <part name="POST_updatePetWithForm_InputMessage" element="schemas:POST_updatePetWithForm_InputMessage" />
  </message>
  <message name="POST_updatePetWithForm_405">
    <part name="POST_updatePetWithForm_405" element="schemas:POST_updatePetWithForm_405" />
  </message>
  <message name="DELETE_deletePet_InputMessage">
    <part name="DELETE_deletePet_InputMessage" element="schemas:DELETE_deletePet_InputMessage" />
  </message>
  <message name="DELETE_deletePet_400">
    <part name="DELETE_deletePet_400" element="schemas:DELETE_deletePet_400" />
  </message>
  <message name="POST_uploadFile_InputMessage">
    <part name="POST_uploadFile_InputMessage" element="schemas:POST_uploadFile_InputMessage" />
  </message>
  <message name="POST_uploadFile_OutputMessage">
    <part name="POST_uploadFile_OutputMessage" element="schemas:POST_uploadFile_OutputMessage" />
  </message>
  <message name="GET_getInventory_InputMessage">
    <part name="GET_getInventory_InputMessage" element="schemas:GET_getInventory_InputMessage" />
  </message>
  <message name="GET_getInventory_OutputMessage">
    <part name="GET_getInventory_OutputMessage" element="schemas:GET_getInventory_OutputMessage" />
  </message>
  <message name="POST_placeOrder_InputMessage">
    <part name="POST_placeOrder_InputMessage" element="schemas:POST_placeOrder_InputMessage" />
  </message>
  <message name="POST_placeOrder_OutputMessage">
    <part name="POST_placeOrder_OutputMessage" element="schemas:POST_placeOrder_OutputMessage" />
  </message>
  <message name="POST_placeOrder_405">
    <part name="POST_placeOrder_405" element="schemas:POST_placeOrder_405" />
  </message>
  <message name="GET_getOrderById_InputMessage">
    <part name="GET_getOrderById_InputMessage" element="schemas:GET_getOrderById_InputMessage" />
  </message>
  <message name="GET_getOrderById_OutputMessage">
    <part name="GET_getOrderById_OutputMessage" element="schemas:GET_getOrderById_OutputMessage" />
  </message>
  <message name="GET_getOrderById_400">
    <part name="GET_getOrderById_400" element="schemas:GET_getOrderById_400" />
  </message>
  <message name="GET_getOrderById_404">
    <part name="GET_getOrderById_404" element="schemas:GET_getOrderById_404" />
  </message>
  <message name="DELETE_deleteOrder_InputMessage">
    <part name="DELETE_deleteOrder_InputMessage" element="schemas:DELETE_deleteOrder_InputMessage" />
  </message>
  <message name="DELETE_deleteOrder_400">
    <part name="DELETE_deleteOrder_400" element="schemas:DELETE_deleteOrder_400" />
  </message>
  <message name="DELETE_deleteOrder_404">
    <part name="DELETE_deleteOrder_404" element="schemas:DELETE_deleteOrder_404" />
  </message>
  <message name="POST_createUser_InputMessage">
    <part name="POST_createUser_InputMessage" element="schemas:POST_createUser_InputMessage" />
  </message>
  <message name="POST_createUser_OutputMessage">
    <part name="POST_createUser_OutputMessage" element="schemas:POST_createUser_OutputMessage" />
  </message>
  <message name="POST_createUsersWithListInput_InputMessage">
    <part name="POST_createUsersWithListInput_InputMessage" element="schemas:POST_createUsersWithListInput_InputMessage" />
  </message>
  <message name="POST_createUsersWithListInput_OutputMessage">
    <part name="POST_createUsersWithListInput_OutputMessage" element="schemas:POST_createUsersWithListInput_OutputMessage" />
  </message>
  <message name="POST_createUsersWithListInput_0">
    <part name="POST_createUsersWithListInput_0" element="schemas:POST_createUsersWithListInput_0" />
  </message>
  <message name="GET_loginUser_InputMessage">
    <part name="GET_loginUser_InputMessage" element="schemas:GET_loginUser_InputMessage" />
  </message>
  <message name="GET_loginUser_OutputMessage">
    <part name="GET_loginUser_OutputMessage" element="schemas:GET_loginUser_OutputMessage" />
  </message>
  <message name="GET_loginUser_400">
    <part name="GET_loginUser_400" element="schemas:GET_loginUser_400" />
  </message>
  <message name="GET_logoutUser_InputMessage">
    <part name="GET_logoutUser_InputMessage" element="schemas:GET_logoutUser_InputMessage" />
  </message>
  <message name="GET_logoutUser_OutputMessage">
    <part name="GET_logoutUser_OutputMessage" element="schemas:GET_logoutUser_OutputMessage" />
  </message>
  <message name="GET_getUserByName_InputMessage">
    <part name="GET_getUserByName_InputMessage" element="schemas:GET_getUserByName_InputMessage" />
  </message>
  <message name="GET_getUserByName_OutputMessage">
    <part name="GET_getUserByName_OutputMessage" element="schemas:GET_getUserByName_OutputMessage" />
  </message>
  <message name="GET_getUserByName_400">
    <part name="GET_getUserByName_400" element="schemas:GET_getUserByName_400" />
  </message>
  <message name="GET_getUserByName_404">
    <part name="GET_getUserByName_404" element="schemas:GET_getUserByName_404" />
  </message>
  <message name="PUT_updateUser_InputMessage">
    <part name="PUT_updateUser_InputMessage" element="schemas:PUT_updateUser_InputMessage" />
  </message>
  <message name="PUT_updateUser_OutputMessage">
    <part name="PUT_updateUser_OutputMessage" element="schemas:PUT_updateUser_OutputMessage" />
  </message>
  <message name="DELETE_deleteUser_InputMessage">
    <part name="DELETE_deleteUser_InputMessage" element="schemas:DELETE_deleteUser_InputMessage" />
  </message>
  <message name="DELETE_deleteUser_400">
    <part name="DELETE_deleteUser_400" element="schemas:DELETE_deleteUser_400" />
  </message>
  <message name="DELETE_deleteUser_404">
    <part name="DELETE_deleteUser_404" element="schemas:DELETE_deleteUser_404" />
  </message>
  <portType name="Swagger_x0020_Petstore_x0020_-_x0020_OpenAPI_x0020_3.0_PortType">
    <operation name="PUT_updatePet">
      <documentation>Update an existing pet by Id</documentation>
      <input message="wsdl:PUT_updatePet_InputMessage" />
      <output message="wsdl:PUT_updatePet_OutputMessage">
        <documentation>Successful operation</documentation>
      </output>
      <fault name="PUT_updatePet_400" message="wsdl:PUT_updatePet_400">
        <documentation>Invalid ID supplied</documentation>
      </fault>
      <fault name="PUT_updatePet_404" message="wsdl:PUT_updatePet_404">
        <documentation>Pet not found</documentation>
      </fault>
      <fault name="PUT_updatePet_405" message="wsdl:PUT_updatePet_405">
        <documentation>Validation exception</documentation>
      </fault>
    </operation>
    <operation name="POST_addPet">
      <documentation>Add a new pet to the store</documentation>
      <input message="wsdl:POST_addPet_InputMessage" />
      <output message="wsdl:POST_addPet_OutputMessage">
        <documentation>Successful operation</documentation>
      </output>
      <fault name="POST_addPet_405" message="wsdl:POST_addPet_405">
        <documentation>Invalid input</documentation>
      </fault>
    </operation>
    <operation name="GET_findPetsByStatus">
      <documentation>Multiple status values can be provided with comma separated strings</documentation>
      <input message="wsdl:GET_findPetsByStatus_InputMessage" />
      <output message="wsdl:GET_findPetsByStatus_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="GET_findPetsByStatus_400" message="wsdl:GET_findPetsByStatus_400">
        <documentation>Invalid status value</documentation>
      </fault>
    </operation>
    <operation name="GET_findPetsByTags">
      <documentation>Multiple tags can be provided with comma separated strings. Use tag1, tag2, tag3 for testing.</documentation>
      <input message="wsdl:GET_findPetsByTags_InputMessage" />
      <output message="wsdl:GET_findPetsByTags_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="GET_findPetsByTags_400" message="wsdl:GET_findPetsByTags_400">
        <documentation>Invalid tag value</documentation>
      </fault>
    </operation>
    <operation name="GET_getPetById">
      <documentation>Returns a single pet</documentation>
      <input message="wsdl:GET_getPetById_InputMessage" />
      <output message="wsdl:GET_getPetById_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="GET_getPetById_400" message="wsdl:GET_getPetById_400">
        <documentation>Invalid ID supplied</documentation>
      </fault>
      <fault name="GET_getPetById_404" message="wsdl:GET_getPetById_404">
        <documentation>Pet not found</documentation>
      </fault>
    </operation>
    <operation name="POST_updatePetWithForm">
      <documentation>Updates a pet in the store with form data</documentation>
      <input message="wsdl:POST_updatePetWithForm_InputMessage" />
      <fault name="POST_updatePetWithForm_405" message="wsdl:POST_updatePetWithForm_405">
        <documentation>Invalid input</documentation>
      </fault>
    </operation>
    <operation name="DELETE_deletePet">
      <documentation>delete a pet</documentation>
      <input message="wsdl:DELETE_deletePet_InputMessage" />
      <fault name="DELETE_deletePet_400" message="wsdl:DELETE_deletePet_400">
        <documentation>Invalid pet value</documentation>
      </fault>
    </operation>
    <operation name="POST_uploadFile">
      <documentation>uploads an image</documentation>
      <input message="wsdl:POST_uploadFile_InputMessage" />
      <output message="wsdl:POST_uploadFile_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
    </operation>
    <operation name="GET_getInventory">
      <documentation>Returns a map of status codes to quantities</documentation>
      <input message="wsdl:GET_getInventory_InputMessage" />
      <output message="wsdl:GET_getInventory_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
    </operation>
    <operation name="POST_placeOrder">
      <documentation>Place a new order in the store</documentation>
      <input message="wsdl:POST_placeOrder_InputMessage" />
      <output message="wsdl:POST_placeOrder_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="POST_placeOrder_405" message="wsdl:POST_placeOrder_405">
        <documentation>Invalid input</documentation>
      </fault>
    </operation>
    <operation name="GET_getOrderById">
      <documentation>For valid response try integer IDs with value &lt;= 5 or &gt; 10. Other values will generate exceptions.</documentation>
      <input message="wsdl:GET_getOrderById_InputMessage" />
      <output message="wsdl:GET_getOrderById_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="GET_getOrderById_400" message="wsdl:GET_getOrderById_400">
        <documentation>Invalid ID supplied</documentation>
      </fault>
      <fault name="GET_getOrderById_404" message="wsdl:GET_getOrderById_404">
        <documentation>Order not found</documentation>
      </fault>
    </operation>
    <operation name="DELETE_deleteOrder">
      <documentation>For valid response try integer IDs with value &lt; 1000. Anything above 1000 or nonintegers will generate API errors</documentation>
      <input message="wsdl:DELETE_deleteOrder_InputMessage" />
      <fault name="DELETE_deleteOrder_400" message="wsdl:DELETE_deleteOrder_400">
        <documentation>Invalid ID supplied</documentation>
      </fault>
      <fault name="DELETE_deleteOrder_404" message="wsdl:DELETE_deleteOrder_404">
        <documentation>Order not found</documentation>
      </fault>
    </operation>
    <operation name="POST_createUser">
      <documentation>This can only be done by the logged in user.</documentation>
      <input message="wsdl:POST_createUser_InputMessage" />
      <output message="wsdl:POST_createUser_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
    </operation>
    <operation name="POST_createUsersWithListInput">
      <documentation>Creates list of users with given input array</documentation>
      <input message="wsdl:POST_createUsersWithListInput_InputMessage" />
      <output message="wsdl:POST_createUsersWithListInput_OutputMessage">
        <documentation>Successful operation</documentation>
      </output>
      <fault name="POST_createUsersWithListInput_0" message="wsdl:POST_createUsersWithListInput_0">
        <documentation>successful operation</documentation>
      </fault>
    </operation>
    <operation name="GET_loginUser">
      <documentation>Logs user into the system</documentation>
      <input message="wsdl:GET_loginUser_InputMessage" />
      <output message="wsdl:GET_loginUser_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="GET_loginUser_400" message="wsdl:GET_loginUser_400">
        <documentation>Invalid username/password supplied</documentation>
      </fault>
    </operation>
    <operation name="GET_logoutUser">
      <documentation>Logs out current logged in user session</documentation>
      <input message="wsdl:GET_logoutUser_InputMessage" />
      <output message="wsdl:GET_logoutUser_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
    </operation>
    <operation name="GET_getUserByName">
      <documentation>Get user by user name</documentation>
      <input message="wsdl:GET_getUserByName_InputMessage" />
      <output message="wsdl:GET_getUserByName_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
      <fault name="GET_getUserByName_400" message="wsdl:GET_getUserByName_400">
        <documentation>Invalid username supplied</documentation>
      </fault>
      <fault name="GET_getUserByName_404" message="wsdl:GET_getUserByName_404">
        <documentation>User not found</documentation>
      </fault>
    </operation>
    <operation name="PUT_updateUser">
      <documentation>This can only be done by the logged in user.</documentation>
      <input message="wsdl:PUT_updateUser_InputMessage" />
      <output message="wsdl:PUT_updateUser_OutputMessage">
        <documentation>successful operation</documentation>
      </output>
    </operation>
    <operation name="DELETE_deleteUser">
      <documentation>This can only be done by the logged in user.</documentation>
      <input message="wsdl:DELETE_deleteUser_InputMessage" />
      <fault name="DELETE_deleteUser_400" message="wsdl:DELETE_deleteUser_400">
        <documentation>Invalid username supplied</documentation>
      </fault>
      <fault name="DELETE_deleteUser_404" message="wsdl:DELETE_deleteUser_404">
        <documentation>User not found</documentation>
      </fault>
    </operation>
  </portType>
  <binding name="Swagger_x0020_Petstore_x0020_-_x0020_OpenAPI_x0020_3.0_Binding" type="wsdl:Swagger_x0020_Petstore_x0020_-_x0020_OpenAPI_x0020_3.0_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="PUT_updatePet">
      <soap:operation soapAction="PUT_updatePet" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="PUT_updatePet_400">
        <soap:fault use="literal" name="PUT_updatePet_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PUT_updatePet_404">
        <soap:fault use="literal" name="PUT_updatePet_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="PUT_updatePet_405">
        <soap:fault use="literal" name="PUT_updatePet_405" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_addPet">
      <soap:operation soapAction="POST_addPet" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="POST_addPet_405">
        <soap:fault use="literal" name="POST_addPet_405" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_findPetsByStatus">
      <soap:operation soapAction="GET_findPetsByStatus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_findPetsByStatus_400">
        <soap:fault use="literal" name="GET_findPetsByStatus_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_findPetsByTags">
      <soap:operation soapAction="GET_findPetsByTags" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_findPetsByTags_400">
        <soap:fault use="literal" name="GET_findPetsByTags_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_getPetById">
      <soap:operation soapAction="GET_getPetById" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_getPetById_400">
        <soap:fault use="literal" name="GET_getPetById_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_getPetById_404">
        <soap:fault use="literal" name="GET_getPetById_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_updatePetWithForm">
      <soap:operation soapAction="POST_updatePetWithForm" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <fault name="POST_updatePetWithForm_405">
        <soap:fault use="literal" name="POST_updatePetWithForm_405" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="DELETE_deletePet">
      <soap:operation soapAction="DELETE_deletePet" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <fault name="DELETE_deletePet_400">
        <soap:fault use="literal" name="DELETE_deletePet_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_uploadFile">
      <soap:operation soapAction="POST_uploadFile" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getInventory">
      <soap:operation soapAction="GET_getInventory" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_placeOrder">
      <soap:operation soapAction="POST_placeOrder" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="POST_placeOrder_405">
        <soap:fault use="literal" name="POST_placeOrder_405" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_getOrderById">
      <soap:operation soapAction="GET_getOrderById" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_getOrderById_400">
        <soap:fault use="literal" name="GET_getOrderById_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_getOrderById_404">
        <soap:fault use="literal" name="GET_getOrderById_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="DELETE_deleteOrder">
      <soap:operation soapAction="DELETE_deleteOrder" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <fault name="DELETE_deleteOrder_400">
        <soap:fault use="literal" name="DELETE_deleteOrder_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="DELETE_deleteOrder_404">
        <soap:fault use="literal" name="DELETE_deleteOrder_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_createUser">
      <soap:operation soapAction="POST_createUser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_createUsersWithListInput">
      <soap:operation soapAction="POST_createUsersWithListInput" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="POST_createUsersWithListInput_0">
        <soap:fault use="literal" name="POST_createUsersWithListInput_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_loginUser">
      <soap:operation soapAction="GET_loginUser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_loginUser_400">
        <soap:fault use="literal" name="GET_loginUser_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_logoutUser">
      <soap:operation soapAction="GET_logoutUser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getUserByName">
      <soap:operation soapAction="GET_getUserByName" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_getUserByName_400">
        <soap:fault use="literal" name="GET_getUserByName_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="GET_getUserByName_404">
        <soap:fault use="literal" name="GET_getUserByName_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="PUT_updateUser">
      <soap:operation soapAction="PUT_updateUser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DELETE_deleteUser">
      <soap:operation soapAction="DELETE_deleteUser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <fault name="DELETE_deleteUser_400">
        <soap:fault use="literal" name="DELETE_deleteUser_400" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
      <fault name="DELETE_deleteUser_404">
        <soap:fault use="literal" name="DELETE_deleteUser_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
  </binding>
  <service name="Swagger_x0020_Petstore_x0020_-_x0020_OpenAPI_x0020_3.0">
    <documentation>This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about
Swagger at [https://swagger.io](https://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!
You can now help us improve the API whether it's by making changes to the definition itself or to the code.
That way, with time, we can improve the API in general, and expose some of the new features in OAS3.

_If you're looking for the Swagger 2.0/OAS 2.0 version of Petstore, then click [here](https://editor.swagger.io/?url=https://petstore.swagger.io/v2/swagger.yaml). Alternatively, you can load via the `Edit &gt; Load Petstore OAS 2.0` menu option!_

Some useful links:
- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)
- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)</documentation>
    <port name="default_Port" binding="wsdl:Swagger_x0020_Petstore_x0020_-_x0020_OpenAPI_x0020_3.0_Binding">
      <soap:address location="https://petstore3.swagger.io/api/v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>